.columns
.index
.set_index("name")
.reset_index(drop=True)
.sort_index()

In [2]:
import pandas as np
temperatures = np.read_csv("temperatures.csv")

In [3]:
# 1. Setting and removing indexes
# Look at temperatures
print(temperatures)

# Index temperatures by city
temperatures_ind = temperatures.set_index("city")

# Look at temperatures_ind
print(temperatures_ind)

# Reset the index, keeping its contents
print(temperatures_ind.reset_index())

# Reset the index, dropping its contents
print(temperatures_ind.reset_index(drop=True))

       Unnamed: 0        date     city        country  avg_temp_c
0               0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1               1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2               2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3               3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4               4  2000-05-01  Abidjan  Côte D'Ivoire      27.547
5               5  2000-06-01  Abidjan  Côte D'Ivoire      25.812
6               6  2000-07-01  Abidjan  Côte D'Ivoire      24.870
7               7  2000-08-01  Abidjan  Côte D'Ivoire      24.884
8               8  2000-09-01  Abidjan  Côte D'Ivoire      25.405
9               9  2000-10-01  Abidjan  Côte D'Ivoire      26.074
10             10  2000-11-01  Abidjan  Côte D'Ivoire      27.315
11             11  2000-12-01  Abidjan  Côte D'Ivoire      26.929
12             12  2001-01-01  Abidjan  Côte D'Ivoire      26.920
13             13  2001-02-01  Abidjan  Côte D'Ivoire      28.234
14             14  2001-03-01  Abidjan  Côte D'Ivoire      28.706
15             15  2001-04-01  Abidjan  Côte D'Ivoire      27.702
16             16  2001-05-01  Abidjan  Côte D'Ivoire      27.653
17             17  2001-06-01  Abidjan  Côte D'Ivoire      25.940
18             18  2001-07-01  Abidjan  Côte D'Ivoire      24.841
19             19  2001-08-01  Abidjan  Côte D'Ivoire      24.280
20             20  2001-09-01  Abidjan  Côte D'Ivoire      24.797
21             21  2001-10-01  Abidjan  Côte D'Ivoire      26.278
22             22  2001-11-01  Abidjan  Côte D'Ivoire      27.374
23             23  2001-12-01  Abidjan  Côte D'Ivoire      27.598
24             24  2002-01-01  Abidjan  Côte D'Ivoire      27.192
25             25  2002-02-01  Abidjan  Côte D'Ivoire      28.796
26             26  2002-03-01  Abidjan  Côte D'Ivoire      28.564
27             27  2002-04-01  Abidjan  Côte D'Ivoire      28.508
28             28  2002-05-01  Abidjan  Côte D'Ivoire      27.721
29             29  2002-06-01  Abidjan  Côte D'Ivoire      25.972
...           ...         ...      ...            ...         ...
16470       16470  2011-04-01     Xian          China      14.876
16471       16471  2011-05-01     Xian          China      18.225
16472       16472  2011-06-01     Xian          China      23.879
16473       16473  2011-07-01     Xian          China      24.895
16474       16474  2011-08-01     Xian          China      23.069
16475       16475  2011-09-01     Xian          China      16.775
16476       16476  2011-10-01     Xian          China      12.587
16477       16477  2011-11-01     Xian          China       7.543
16478       16478  2011-12-01     Xian          China      -0.490
16479       16479  2012-01-01     Xian          China      -2.416
16480       16480  2012-02-01     Xian          China       0.162
16481       16481  2012-03-01     Xian          China       6.430
16482       16482  2012-04-01     Xian          China      14.908
16483       16483  2012-05-01     Xian          China      19.041
16484       16484  2012-06-01     Xian          China      22.781
16485       16485  2012-07-01     Xian          China      24.646
16486       16486  2012-08-01     Xian          China      23.885
16487       16487  2012-09-01     Xian          China      17.028
16488       16488  2012-10-01     Xian          China      12.399
16489       16489  2012-11-01     Xian          China       4.736
16490       16490  2012-12-01     Xian          China      -0.822
16491       16491  2013-01-01     Xian          China      -1.635
16492       16492  2013-02-01     Xian          China       2.362
16493       16493  2013-03-01     Xian          China      10.110
16494       16494  2013-04-01     Xian          China      12.563
16495       16495  2013-05-01     Xian          China      18.979
16496       16496  2013-06-01     Xian          China      23.522
16497       16497  2013-07-01     Xian          China      25.251
16498       16498  2013-08-01     Xian          China      24.528
16499       16499  2013-09-01     Xian          China         NaN

[16500 rows x 5 columns]
         Unnamed: 0        date        country  avg_temp_c
city
Abidjan           0  2000-01-01  Côte D'Ivoire      27.293
Abidjan           1  2000-02-01  Côte D'Ivoire      27.685
Abidjan           2  2000-03-01  Côte D'Ivoire      29.061
Abidjan           3  2000-04-01  Côte D'Ivoire      28.162
Abidjan           4  2000-05-01  Côte D'Ivoire      27.547
Abidjan           5  2000-06-01  Côte D'Ivoire      25.812
Abidjan           6  2000-07-01  Côte D'Ivoire      24.870
Abidjan           7  2000-08-01  Côte D'Ivoire      24.884
Abidjan           8  2000-09-01  Côte D'Ivoire      25.405
Abidjan           9  2000-10-01  Côte D'Ivoire      26.074
Abidjan          10  2000-11-01  Côte D'Ivoire      27.315
Abidjan          11  2000-12-01  Côte D'Ivoire      26.929
Abidjan          12  2001-01-01  Côte D'Ivoire      26.920
Abidjan          13  2001-02-01  Côte D'Ivoire      28.234
Abidjan          14  2001-03-01  Côte D'Ivoire      28.706
Abidjan          15  2001-04-01  Côte D'Ivoire      27.702
Abidjan          16  2001-05-01  Côte D'Ivoire      27.653
Abidjan          17  2001-06-01  Côte D'Ivoire      25.940
Abidjan          18  2001-07-01  Côte D'Ivoire      24.841
Abidjan          19  2001-08-01  Côte D'Ivoire      24.280
Abidjan          20  2001-09-01  Côte D'Ivoire      24.797
Abidjan          21  2001-10-01  Côte D'Ivoire      26.278
Abidjan          22  2001-11-01  Côte D'Ivoire      27.374
Abidjan          23  2001-12-01  Côte D'Ivoire      27.598
Abidjan          24  2002-01-01  Côte D'Ivoire      27.192
Abidjan          25  2002-02-01  Côte D'Ivoire      28.796
Abidjan          26  2002-03-01  Côte D'Ivoire      28.564
Abidjan          27  2002-04-01  Côte D'Ivoire      28.508
Abidjan          28  2002-05-01  Côte D'Ivoire      27.721
Abidjan          29  2002-06-01  Côte D'Ivoire      25.972
...             ...         ...            ...         ...
Xian          16470  2011-04-01          China      14.876
Xian          16471  2011-05-01          China      18.225
Xian          16472  2011-06-01          China      23.879
Xian          16473  2011-07-01          China      24.895
Xian          16474  2011-08-01          China      23.069
Xian          16475  2011-09-01          China      16.775
Xian          16476  2011-10-01          China      12.587
Xian          16477  2011-11-01          China       7.543
Xian          16478  2011-12-01          China      -0.490
Xian          16479  2012-01-01          China      -2.416
Xian          16480  2012-02-01          China       0.162
Xian          16481  2012-03-01          China       6.430
Xian          16482  2012-04-01          China      14.908
Xian          16483  2012-05-01          China      19.041
Xian          16484  2012-06-01          China      22.781
Xian          16485  2012-07-01          China      24.646
Xian          16486  2012-08-01          China      23.885
Xian          16487  2012-09-01          China      17.028
Xian          16488  2012-10-01          China      12.399
Xian          16489  2012-11-01          China       4.736
Xian          16490  2012-12-01          China      -0.822
Xian          16491  2013-01-01          China      -1.635
Xian          16492  2013-02-01          China       2.362
Xian          16493  2013-03-01          China      10.110
Xian          16494  2013-04-01          China      12.563
Xian          16495  2013-05-01          China      18.979
Xian          16496  2013-06-01          China      23.522
Xian          16497  2013-07-01          China      25.251
Xian          16498  2013-08-01          China      24.528
Xian          16499  2013-09-01          China         NaN

[16500 rows x 4 columns]
          city  Unnamed: 0        date        country  avg_temp_c
0      Abidjan           0  2000-01-01  Côte D'Ivoire      27.293
1      Abidjan           1  2000-02-01  Côte D'Ivoire      27.685
2      Abidjan           2  2000-03-01  Côte D'Ivoire      29.061
3      Abidjan           3  2000-04-01  Côte D'Ivoire      28.162
4      Abidjan           4  2000-05-01  Côte D'Ivoire      27.547
5      Abidjan           5  2000-06-01  Côte D'Ivoire      25.812
6      Abidjan           6  2000-07-01  Côte D'Ivoire      24.870
7      Abidjan           7  2000-08-01  Côte D'Ivoire      24.884
8      Abidjan           8  2000-09-01  Côte D'Ivoire      25.405
9      Abidjan           9  2000-10-01  Côte D'Ivoire      26.074
10     Abidjan          10  2000-11-01  Côte D'Ivoire      27.315
11     Abidjan          11  2000-12-01  Côte D'Ivoire      26.929
12     Abidjan          12  2001-01-01  Côte D'Ivoire      26.920
13     Abidjan          13  2001-02-01  Côte D'Ivoire      28.234
14     Abidjan          14  2001-03-01  Côte D'Ivoire      28.706
15     Abidjan          15  2001-04-01  Côte D'Ivoire      27.702
16     Abidjan          16  2001-05-01  Côte D'Ivoire      27.653
17     Abidjan          17  2001-06-01  Côte D'Ivoire      25.940
18     Abidjan          18  2001-07-01  Côte D'Ivoire      24.841
19     Abidjan          19  2001-08-01  Côte D'Ivoire      24.280
20     Abidjan          20  2001-09-01  Côte D'Ivoire      24.797
21     Abidjan          21  2001-10-01  Côte D'Ivoire      26.278
22     Abidjan          22  2001-11-01  Côte D'Ivoire      27.374
23     Abidjan          23  2001-12-01  Côte D'Ivoire      27.598
24     Abidjan          24  2002-01-01  Côte D'Ivoire      27.192
25     Abidjan          25  2002-02-01  Côte D'Ivoire      28.796
26     Abidjan          26  2002-03-01  Côte D'Ivoire      28.564
27     Abidjan          27  2002-04-01  Côte D'Ivoire      28.508
28     Abidjan          28  2002-05-01  Côte D'Ivoire      27.721
29     Abidjan          29  2002-06-01  Côte D'Ivoire      25.972
...        ...         ...         ...            ...         ...
16470     Xian       16470  2011-04-01          China      14.876
16471     Xian       16471  2011-05-01          China      18.225
16472     Xian       16472  2011-06-01          China      23.879
16473     Xian       16473  2011-07-01          China      24.895
16474     Xian       16474  2011-08-01          China      23.069
16475     Xian       16475  2011-09-01          China      16.775
16476     Xian       16476  2011-10-01          China      12.587
16477     Xian       16477  2011-11-01          China       7.543
16478     Xian       16478  2011-12-01          China      -0.490
16479     Xian       16479  2012-01-01          China      -2.416
16480     Xian       16480  2012-02-01          China       0.162
16481     Xian       16481  2012-03-01          China       6.430
16482     Xian       16482  2012-04-01          China      14.908
16483     Xian       16483  2012-05-01          China      19.041
16484     Xian       16484  2012-06-01          China      22.781
16485     Xian       16485  2012-07-01          China      24.646
16486     Xian       16486  2012-08-01          China      23.885
16487     Xian       16487  2012-09-01          China      17.028
16488     Xian       16488  2012-10-01          China      12.399
16489     Xian       16489  2012-11-01          China       4.736
16490     Xian       16490  2012-12-01          China      -0.822
16491     Xian       16491  2013-01-01          China      -1.635
16492     Xian       16492  2013-02-01          China       2.362
16493     Xian       16493  2013-03-01          China      10.110
16494     Xian       16494  2013-04-01          China      12.563
16495     Xian       16495  2013-05-01          China      18.979
16496     Xian       16496  2013-06-01          China      23.522
16497     Xian       16497  2013-07-01          China      25.251
16498     Xian       16498  2013-08-01          China      24.528
16499     Xian       16499  2013-09-01          China         NaN

[16500 rows x 5 columns]
       Unnamed: 0        date        country  avg_temp_c
0               0  2000-01-01  Côte D'Ivoire      27.293
1               1  2000-02-01  Côte D'Ivoire      27.685
2               2  2000-03-01  Côte D'Ivoire      29.061
3               3  2000-04-01  Côte D'Ivoire      28.162
4               4  2000-05-01  Côte D'Ivoire      27.547
5               5  2000-06-01  Côte D'Ivoire      25.812
6               6  2000-07-01  Côte D'Ivoire      24.870
7               7  2000-08-01  Côte D'Ivoire      24.884
8               8  2000-09-01  Côte D'Ivoire      25.405
9               9  2000-10-01  Côte D'Ivoire      26.074
10             10  2000-11-01  Côte D'Ivoire      27.315
11             11  2000-12-01  Côte D'Ivoire      26.929
12             12  2001-01-01  Côte D'Ivoire      26.920
13             13  2001-02-01  Côte D'Ivoire      28.234
14             14  2001-03-01  Côte D'Ivoire      28.706
15             15  2001-04-01  Côte D'Ivoire      27.702
16             16  2001-05-01  Côte D'Ivoire      27.653
17             17  2001-06-01  Côte D'Ivoire      25.940
18             18  2001-07-01  Côte D'Ivoire      24.841
19             19  2001-08-01  Côte D'Ivoire      24.280
20             20  2001-09-01  Côte D'Ivoire      24.797
21             21  2001-10-01  Côte D'Ivoire      26.278
22             22  2001-11-01  Côte D'Ivoire      27.374
23             23  2001-12-01  Côte D'Ivoire      27.598
24             24  2002-01-01  Côte D'Ivoire      27.192
25             25  2002-02-01  Côte D'Ivoire      28.796
26             26  2002-03-01  Côte D'Ivoire      28.564
27             27  2002-04-01  Côte D'Ivoire      28.508
28             28  2002-05-01  Côte D'Ivoire      27.721
29             29  2002-06-01  Côte D'Ivoire      25.972
...           ...         ...            ...         ...
16470       16470  2011-04-01          China      14.876
16471       16471  2011-05-01          China      18.225
16472       16472  2011-06-01          China      23.879
16473       16473  2011-07-01          China      24.895
16474       16474  2011-08-01          China      23.069
16475       16475  2011-09-01          China      16.775
16476       16476  2011-10-01          China      12.587
16477       16477  2011-11-01          China       7.543
16478       16478  2011-12-01          China      -0.490
16479       16479  2012-01-01          China      -2.416
16480       16480  2012-02-01          China       0.162
16481       16481  2012-03-01          China       6.430
16482       16482  2012-04-01          China      14.908
16483       16483  2012-05-01          China      19.041
16484       16484  2012-06-01          China      22.781
16485       16485  2012-07-01          China      24.646
16486       16486  2012-08-01          China      23.885
16487       16487  2012-09-01          China      17.028
16488       16488  2012-10-01          China      12.399
16489       16489  2012-11-01          China       4.736
16490       16490  2012-12-01          China      -0.822
16491       16491  2013-01-01          China      -1.635
16492       16492  2013-02-01          China       2.362
16493       16493  2013-03-01          China      10.110
16494       16494  2013-04-01          China      12.563
16495       16495  2013-05-01          China      18.979
16496       16496  2013-06-01          China      23.522
16497       16497  2013-07-01          China      25.251
16498       16498  2013-08-01          China      24.528
16499       16499  2013-09-01          China         NaN

[16500 rows x 4 columns]

In [4]:
# 2. Subsetting with .loc[]
# Make a list of cities to subset on
cities = ["Moscow", "Saint Petersburg"]

# Subset temperatures using square brackets
print(temperatures[temperatures["city"].isin(cities)])

# Subset temperatures_ind using .loc[]
print(temperatures_ind.loc[cities])

       Unnamed: 0        date              city country  avg_temp_c
10725       10725  2000-01-01            Moscow  Russia      -7.313
10726       10726  2000-02-01            Moscow  Russia      -3.551
10727       10727  2000-03-01            Moscow  Russia      -1.661
10728       10728  2000-04-01            Moscow  Russia      10.096
10729       10729  2000-05-01            Moscow  Russia      10.357
10730       10730  2000-06-01            Moscow  Russia      15.243
10731       10731  2000-07-01            Moscow  Russia      18.676
10732       10732  2000-08-01            Moscow  Russia      16.420
10733       10733  2000-09-01            Moscow  Russia       9.775
10734       10734  2000-10-01            Moscow  Russia       6.611
10735       10735  2000-11-01            Moscow  Russia      -0.168
10736       10736  2000-12-01            Moscow  Russia      -2.954
10737       10737  2001-01-01            Moscow  Russia      -4.914
10738       10738  2001-02-01            Moscow  Russia      -7.761
10739       10739  2001-03-01            Moscow  Russia      -2.833
10740       10740  2001-04-01            Moscow  Russia      10.055
10741       10741  2001-05-01            Moscow  Russia      11.012
10742       10742  2001-06-01            Moscow  Russia      15.733
10743       10743  2001-07-01            Moscow  Russia      22.306
10744       10744  2001-08-01            Moscow  Russia      16.576
10745       10745  2001-09-01            Moscow  Russia      11.631
10746       10746  2001-10-01            Moscow  Russia       4.778
10747       10747  2001-11-01            Moscow  Russia      -0.865
10748       10748  2001-12-01            Moscow  Russia     -11.924
10749       10749  2002-01-01            Moscow  Russia      -5.558
10750       10750  2002-02-01            Moscow  Russia      -1.074
10751       10751  2002-03-01            Moscow  Russia       1.883
10752       10752  2002-04-01            Moscow  Russia       6.496
10753       10753  2002-05-01            Moscow  Russia      12.188
10754       10754  2002-06-01            Moscow  Russia      16.590
...           ...         ...               ...     ...         ...
13335       13335  2011-04-01  Saint Petersburg  Russia       4.146
13336       13336  2011-05-01  Saint Petersburg  Russia       9.442
13337       13337  2011-06-01  Saint Petersburg  Russia      15.823
13338       13338  2011-07-01  Saint Petersburg  Russia      20.389
13339       13339  2011-08-01  Saint Petersburg  Russia      16.426
13340       13340  2011-09-01  Saint Petersburg  Russia      12.704
13341       13341  2011-10-01  Saint Petersburg  Russia       7.691
13342       13342  2011-11-01  Saint Petersburg  Russia       4.454
13343       13343  2011-12-01  Saint Petersburg  Russia       2.647
13344       13344  2012-01-01  Saint Petersburg  Russia      -5.211
13345       13345  2012-02-01  Saint Petersburg  Russia     -10.957
13346       13346  2012-03-01  Saint Petersburg  Russia      -1.624
13347       13347  2012-04-01  Saint Petersburg  Russia       2.877
13348       13348  2012-05-01  Saint Petersburg  Russia      10.349
13349       13349  2012-06-01  Saint Petersburg  Russia      12.955
13350       13350  2012-07-01  Saint Petersburg  Russia      17.733
13351       13351  2012-08-01  Saint Petersburg  Russia      15.219
13352       13352  2012-09-01  Saint Petersburg  Russia      12.251
13353       13353  2012-10-01  Saint Petersburg  Russia       6.208
13354       13354  2012-11-01  Saint Petersburg  Russia       3.448
13355       13355  2012-12-01  Saint Petersburg  Russia      -7.316
13356       13356  2013-01-01  Saint Petersburg  Russia      -6.218
13357       13357  2013-02-01  Saint Petersburg  Russia      -3.228
13358       13358  2013-03-01  Saint Petersburg  Russia      -8.178
13359       13359  2013-04-01  Saint Petersburg  Russia       2.167
13360       13360  2013-05-01  Saint Petersburg  Russia      12.355
13361       13361  2013-06-01  Saint Petersburg  Russia      17.185
13362       13362  2013-07-01  Saint Petersburg  Russia      17.234
13363       13363  2013-08-01  Saint Petersburg  Russia      17.153
13364       13364  2013-09-01  Saint Petersburg  Russia         NaN

[330 rows x 5 columns]
                  Unnamed: 0        date country  avg_temp_c
city
Moscow                 10725  2000-01-01  Russia      -7.313
Moscow                 10726  2000-02-01  Russia      -3.551
Moscow                 10727  2000-03-01  Russia      -1.661
Moscow                 10728  2000-04-01  Russia      10.096
Moscow                 10729  2000-05-01  Russia      10.357
Moscow                 10730  2000-06-01  Russia      15.243
Moscow                 10731  2000-07-01  Russia      18.676
Moscow                 10732  2000-08-01  Russia      16.420
Moscow                 10733  2000-09-01  Russia       9.775
Moscow                 10734  2000-10-01  Russia       6.611
Moscow                 10735  2000-11-01  Russia      -0.168
Moscow                 10736  2000-12-01  Russia      -2.954
Moscow                 10737  2001-01-01  Russia      -4.914
Moscow                 10738  2001-02-01  Russia      -7.761
Moscow                 10739  2001-03-01  Russia      -2.833
Moscow                 10740  2001-04-01  Russia      10.055
Moscow                 10741  2001-05-01  Russia      11.012
Moscow                 10742  2001-06-01  Russia      15.733
Moscow                 10743  2001-07-01  Russia      22.306
Moscow                 10744  2001-08-01  Russia      16.576
Moscow                 10745  2001-09-01  Russia      11.631
Moscow                 10746  2001-10-01  Russia       4.778
Moscow                 10747  2001-11-01  Russia      -0.865
Moscow                 10748  2001-12-01  Russia     -11.924
Moscow                 10749  2002-01-01  Russia      -5.558
Moscow                 10750  2002-02-01  Russia      -1.074
Moscow                 10751  2002-03-01  Russia       1.883
Moscow                 10752  2002-04-01  Russia       6.496
Moscow                 10753  2002-05-01  Russia      12.188
Moscow                 10754  2002-06-01  Russia      16.590
...                      ...         ...     ...         ...
Saint Petersburg       13335  2011-04-01  Russia       4.146
Saint Petersburg       13336  2011-05-01  Russia       9.442
Saint Petersburg       13337  2011-06-01  Russia      15.823
Saint Petersburg       13338  2011-07-01  Russia      20.389
Saint Petersburg       13339  2011-08-01  Russia      16.426
Saint Petersburg       13340  2011-09-01  Russia      12.704
Saint Petersburg       13341  2011-10-01  Russia       7.691
Saint Petersburg       13342  2011-11-01  Russia       4.454
Saint Petersburg       13343  2011-12-01  Russia       2.647
Saint Petersburg       13344  2012-01-01  Russia      -5.211
Saint Petersburg       13345  2012-02-01  Russia     -10.957
Saint Petersburg       13346  2012-03-01  Russia      -1.624
Saint Petersburg       13347  2012-04-01  Russia       2.877
Saint Petersburg       13348  2012-05-01  Russia      10.349
Saint Petersburg       13349  2012-06-01  Russia      12.955
Saint Petersburg       13350  2012-07-01  Russia      17.733
Saint Petersburg       13351  2012-08-01  Russia      15.219
Saint Petersburg       13352  2012-09-01  Russia      12.251
Saint Petersburg       13353  2012-10-01  Russia       6.208
Saint Petersburg       13354  2012-11-01  Russia       3.448
Saint Petersburg       13355  2012-12-01  Russia      -7.316
Saint Petersburg       13356  2013-01-01  Russia      -6.218
Saint Petersburg       13357  2013-02-01  Russia      -3.228
Saint Petersburg       13358  2013-03-01  Russia      -8.178
Saint Petersburg       13359  2013-04-01  Russia       2.167
Saint Petersburg       13360  2013-05-01  Russia      12.355
Saint Petersburg       13361  2013-06-01  Russia      17.185
Saint Petersburg       13362  2013-07-01  Russia      17.234
Saint Petersburg       13363  2013-08-01  Russia      17.153
Saint Petersburg       13364  2013-09-01  Russia         NaN

[330 rows x 4 columns]

In [5]:
# 3. Setting multi-level indexes
# Index temperatures by country & city
temperatures_ind = temperatures.set_index(["country", "city"])

# List of tuples: Brazil, Rio De Janeiro & Pakistan, Lahore
rows_to_keep = [("Brazil", "Rio De Janeiro"), ("Pakistan", "Lahore")]

# Subset for rows to keep
print(temperatures_ind.loc[rows_to_keep])

                         Unnamed: 0        date  avg_temp_c
country  city
Brazil   Rio De Janeiro       12540  2000-01-01      25.974
         Rio De Janeiro       12541  2000-02-01      26.699
         Rio De Janeiro       12542  2000-03-01      26.270
         Rio De Janeiro       12543  2000-04-01      25.750
         Rio De Janeiro       12544  2000-05-01      24.356
         Rio De Janeiro       12545  2000-06-01      24.059
         Rio De Janeiro       12546  2000-07-01      22.049
         Rio De Janeiro       12547  2000-08-01      22.447
         Rio De Janeiro       12548  2000-09-01      22.099
         Rio De Janeiro       12549  2000-10-01      23.844
         Rio De Janeiro       12550  2000-11-01      23.601
         Rio De Janeiro       12551  2000-12-01      25.209
         Rio De Janeiro       12552  2001-01-01      26.852
         Rio De Janeiro       12553  2001-02-01      27.992
         Rio De Janeiro       12554  2001-03-01      27.559
         Rio De Janeiro       12555  2001-04-01      27.281
         Rio De Janeiro       12556  2001-05-01      24.784
         Rio De Janeiro       12557  2001-06-01      24.773
         Rio De Janeiro       12558  2001-07-01      23.822
         Rio De Janeiro       12559  2001-08-01      23.598
         Rio De Janeiro       12560  2001-09-01      22.412
         Rio De Janeiro       12561  2001-10-01      22.259
         Rio De Janeiro       12562  2001-11-01      23.689
         Rio De Janeiro       12563  2001-12-01      24.848
         Rio De Janeiro       12564  2002-01-01      26.016
         Rio De Janeiro       12565  2002-02-01      26.140
         Rio De Janeiro       12566  2002-03-01      27.786
         Rio De Janeiro       12567  2002-04-01      26.730
         Rio De Janeiro       12568  2002-05-01      25.657
         Rio De Janeiro       12569  2002-06-01      25.293
...                             ...         ...         ...
Pakistan Lahore                8550  2011-04-01      26.235
         Lahore                8551  2011-05-01      34.134
         Lahore                8552  2011-06-01      34.013
         Lahore                8553  2011-07-01      32.325
         Lahore                8554  2011-08-01      31.273
         Lahore                8555  2011-09-01      29.856
         Lahore                8556  2011-10-01      26.483
         Lahore                8557  2011-11-01      21.799
         Lahore                8558  2011-12-01      14.259
         Lahore                8559  2012-01-01      12.013
         Lahore                8560  2012-02-01      14.180
         Lahore                8561  2012-03-01      21.212
         Lahore                8562  2012-04-01      26.697
         Lahore                8563  2012-05-01      33.013
         Lahore                8564  2012-06-01      35.649
         Lahore                8565  2012-07-01      34.235
         Lahore                8566  2012-08-01      31.900
         Lahore                8567  2012-09-01      29.956
         Lahore                8568  2012-10-01      25.480
         Lahore                8569  2012-11-01      19.835
         Lahore                8570  2012-12-01      14.263
         Lahore                8571  2013-01-01      12.219
         Lahore                8572  2013-02-01      15.414
         Lahore                8573  2013-03-01      20.229
         Lahore                8574  2013-04-01      27.056
         Lahore                8575  2013-05-01      33.457
         Lahore                8576  2013-06-01      34.456
         Lahore                8577  2013-07-01      33.279
         Lahore                8578  2013-08-01      31.511
         Lahore                8579  2013-09-01         NaN

[330 rows x 3 columns]

In [6]:
# 4. Sorting by index values
# Sort temperatures_ind by index values
print(temperatures_ind.sort_index())

# Sort temperatures_ind by index values at the city level
print(temperatures_ind.sort_index(level="city"))

# Sort temperatures_ind by country then descending city
print(temperatures_ind.sort_index(level=["country", "city"], ascending =[True, False]))

                    Unnamed: 0        date  avg_temp_c
country     city
Afghanistan Kabul         7260  2000-01-01       3.326
            Kabul         7261  2000-02-01       3.454
            Kabul         7262  2000-03-01       9.612
            Kabul         7263  2000-04-01      17.925
            Kabul         7264  2000-05-01      24.658
            Kabul         7265  2000-06-01      25.582
            Kabul         7266  2000-07-01      26.107
            Kabul         7267  2000-08-01      25.459
            Kabul         7268  2000-09-01      22.116
            Kabul         7269  2000-10-01      16.806
            Kabul         7270  2000-11-01       9.720
            Kabul         7271  2000-12-01       5.107
            Kabul         7272  2001-01-01       2.208
            Kabul         7273  2001-02-01       5.567
            Kabul         7274  2001-03-01      10.807
            Kabul         7275  2001-04-01      16.587
            Kabul         7276  2001-05-01      23.782
            Kabul         7277  2001-06-01      25.905
            Kabul         7278  2001-07-01      26.065
            Kabul         7279  2001-08-01      25.149
            Kabul         7280  2001-09-01      21.178
            Kabul         7281  2001-10-01      16.552
            Kabul         7282  2001-11-01      10.731
            Kabul         7283  2001-12-01       5.644
            Kabul         7284  2002-01-01       3.432
            Kabul         7285  2002-02-01       4.735
            Kabul         7286  2002-03-01      11.382
            Kabul         7287  2002-04-01      15.668
            Kabul         7288  2002-05-01      21.992
            Kabul         7289  2002-06-01      25.957
...                        ...         ...         ...
Zimbabwe    Harare        5580  2011-04-01      21.151
            Harare        5581  2011-05-01      19.022
            Harare        5582  2011-06-01      16.512
            Harare        5583  2011-07-01      15.315
            Harare        5584  2011-08-01      17.287
            Harare        5585  2011-09-01      22.377
            Harare        5586  2011-10-01      24.353
            Harare        5587  2011-11-01      24.380
            Harare        5588  2011-12-01      22.857
            Harare        5589  2012-01-01      22.334
            Harare        5590  2012-02-01      22.943
            Harare        5591  2012-03-01      22.254
            Harare        5592  2012-04-01      19.129
            Harare        5593  2012-05-01      18.853
            Harare        5594  2012-06-01      16.119
            Harare        5595  2012-07-01      15.406
            Harare        5596  2012-08-01      18.191
            Harare        5597  2012-09-01      22.206
            Harare        5598  2012-10-01      22.692
            Harare        5599  2012-11-01      23.474
            Harare        5600  2012-12-01      22.679
            Harare        5601  2013-01-01      22.235
            Harare        5602  2013-02-01      22.737
            Harare        5603  2013-03-01      22.051
            Harare        5604  2013-04-01      20.180
            Harare        5605  2013-05-01      18.298
            Harare        5606  2013-06-01      17.020
            Harare        5607  2013-07-01      16.299
            Harare        5608  2013-08-01      19.232
            Harare        5609  2013-09-01         NaN

[16500 rows x 3 columns]
                       Unnamed: 0        date  avg_temp_c
country       city
Côte D'Ivoire Abidjan           0  2000-01-01      27.293
              Abidjan           1  2000-02-01      27.685
              Abidjan           2  2000-03-01      29.061
              Abidjan           3  2000-04-01      28.162
              Abidjan           4  2000-05-01      27.547
              Abidjan           5  2000-06-01      25.812
              Abidjan           6  2000-07-01      24.870
              Abidjan           7  2000-08-01      24.884
              Abidjan           8  2000-09-01      25.405
              Abidjan           9  2000-10-01      26.074
              Abidjan          10  2000-11-01      27.315
              Abidjan          11  2000-12-01      26.929
              Abidjan          12  2001-01-01      26.920
              Abidjan          13  2001-02-01      28.234
              Abidjan          14  2001-03-01      28.706
              Abidjan          15  2001-04-01      27.702
              Abidjan          16  2001-05-01      27.653
              Abidjan          17  2001-06-01      25.940
              Abidjan          18  2001-07-01      24.841
              Abidjan          19  2001-08-01      24.280
              Abidjan          20  2001-09-01      24.797
              Abidjan          21  2001-10-01      26.278
              Abidjan          22  2001-11-01      27.374
              Abidjan          23  2001-12-01      27.598
              Abidjan          24  2002-01-01      27.192
              Abidjan          25  2002-02-01      28.796
              Abidjan          26  2002-03-01      28.564
              Abidjan          27  2002-04-01      28.508
              Abidjan          28  2002-05-01      27.721
              Abidjan          29  2002-06-01      25.972
...                           ...         ...         ...
China         Xian          16470  2011-04-01      14.876
              Xian          16471  2011-05-01      18.225
              Xian          16472  2011-06-01      23.879
              Xian          16473  2011-07-01      24.895
              Xian          16474  2011-08-01      23.069
              Xian          16475  2011-09-01      16.775
              Xian          16476  2011-10-01      12.587
              Xian          16477  2011-11-01       7.543
              Xian          16478  2011-12-01      -0.490
              Xian          16479  2012-01-01      -2.416
              Xian          16480  2012-02-01       0.162
              Xian          16481  2012-03-01       6.430
              Xian          16482  2012-04-01      14.908
              Xian          16483  2012-05-01      19.041
              Xian          16484  2012-06-01      22.781
              Xian          16485  2012-07-01      24.646
              Xian          16486  2012-08-01      23.885
              Xian          16487  2012-09-01      17.028
              Xian          16488  2012-10-01      12.399
              Xian          16489  2012-11-01       4.736
              Xian          16490  2012-12-01      -0.822
              Xian          16491  2013-01-01      -1.635
              Xian          16492  2013-02-01       2.362
              Xian          16493  2013-03-01      10.110
              Xian          16494  2013-04-01      12.563
              Xian          16495  2013-05-01      18.979
              Xian          16496  2013-06-01      23.522
              Xian          16497  2013-07-01      25.251
              Xian          16498  2013-08-01      24.528
              Xian          16499  2013-09-01         NaN

[16500 rows x 3 columns]
                    Unnamed: 0        date  avg_temp_c
country     city
Afghanistan Kabul         7260  2000-01-01       3.326
            Kabul         7261  2000-02-01       3.454
            Kabul         7262  2000-03-01       9.612
            Kabul         7263  2000-04-01      17.925
            Kabul         7264  2000-05-01      24.658
            Kabul         7265  2000-06-01      25.582
            Kabul         7266  2000-07-01      26.107
            Kabul         7267  2000-08-01      25.459
            Kabul         7268  2000-09-01      22.116
            Kabul         7269  2000-10-01      16.806
            Kabul         7270  2000-11-01       9.720
            Kabul         7271  2000-12-01       5.107
            Kabul         7272  2001-01-01       2.208
            Kabul         7273  2001-02-01       5.567
            Kabul         7274  2001-03-01      10.807
            Kabul         7275  2001-04-01      16.587
            Kabul         7276  2001-05-01      23.782
            Kabul         7277  2001-06-01      25.905
            Kabul         7278  2001-07-01      26.065
            Kabul         7279  2001-08-01      25.149
            Kabul         7280  2001-09-01      21.178
            Kabul         7281  2001-10-01      16.552
            Kabul         7282  2001-11-01      10.731
            Kabul         7283  2001-12-01       5.644
            Kabul         7284  2002-01-01       3.432
            Kabul         7285  2002-02-01       4.735
            Kabul         7286  2002-03-01      11.382
            Kabul         7287  2002-04-01      15.668
            Kabul         7288  2002-05-01      21.992
            Kabul         7289  2002-06-01      25.957
...                        ...         ...         ...
Zimbabwe    Harare        5580  2011-04-01      21.151
            Harare        5581  2011-05-01      19.022
            Harare        5582  2011-06-01      16.512
            Harare        5583  2011-07-01      15.315
            Harare        5584  2011-08-01      17.287
            Harare        5585  2011-09-01      22.377
            Harare        5586  2011-10-01      24.353
            Harare        5587  2011-11-01      24.380
            Harare        5588  2011-12-01      22.857
            Harare        5589  2012-01-01      22.334
            Harare        5590  2012-02-01      22.943
            Harare        5591  2012-03-01      22.254
            Harare        5592  2012-04-01      19.129
            Harare        5593  2012-05-01      18.853
            Harare        5594  2012-06-01      16.119
            Harare        5595  2012-07-01      15.406
            Harare        5596  2012-08-01      18.191
            Harare        5597  2012-09-01      22.206
            Harare        5598  2012-10-01      22.692
            Harare        5599  2012-11-01      23.474
            Harare        5600  2012-12-01      22.679
            Harare        5601  2013-01-01      22.235
            Harare        5602  2013-02-01      22.737
            Harare        5603  2013-03-01      22.051
            Harare        5604  2013-04-01      20.180
            Harare        5605  2013-05-01      18.298
            Harare        5606  2013-06-01      17.020
            Harare        5607  2013-07-01      16.299
            Harare        5608  2013-08-01      19.232
            Harare        5609  2013-09-01         NaN

[16500 rows x 3 columns]

Slicing and subsetting with .loc and .iloc

In [7]:
# 5. Slicing index values
# Sort the index of temperatures_ind
temperatures_srt = temperatures_ind.sort_index()

# Subset rows from Pakistan to Russia
print(temperatures_srt.loc["Pakistan":"Russia"])

# Try to subset rows from Lahore to Moscow
print(temperatures_srt.loc["Lahore":"Moscow"])

# Subset rows from Pakistan, Lahore to Russia, Moscow
print(temperatures_srt.loc[("Pakistan", "Lahore"): ("Russia","Moscow")])

                           Unnamed: 0        date  avg_temp_c
country  city
Pakistan Faisalabad              4785  2000-01-01      12.792
         Faisalabad              4786  2000-02-01      14.339
         Faisalabad              4787  2000-03-01      20.309
         Faisalabad              4788  2000-04-01      29.072
         Faisalabad              4789  2000-05-01      34.845
         Faisalabad              4790  2000-06-01      34.299
         Faisalabad              4791  2000-07-01      32.302
         Faisalabad              4792  2000-08-01      32.255
         Faisalabad              4793  2000-09-01      30.438
         Faisalabad              4794  2000-10-01      27.395
         Faisalabad              4795  2000-11-01      20.640
         Faisalabad              4796  2000-12-01      15.195
         Faisalabad              4797  2001-01-01      11.853
         Faisalabad              4798  2001-02-01      16.701
         Faisalabad              4799  2001-03-01      21.885
         Faisalabad              4800  2001-04-01      26.814
         Faisalabad              4801  2001-05-01      33.924
         Faisalabad              4802  2001-06-01      32.882
         Faisalabad              4803  2001-07-01      32.091
         Faisalabad              4804  2001-08-01      32.562
         Faisalabad              4805  2001-09-01      30.615
         Faisalabad              4806  2001-10-01      27.015
         Faisalabad              4807  2001-11-01      20.501
         Faisalabad              4808  2001-12-01      15.306
         Faisalabad              4809  2002-01-01      12.844
         Faisalabad              4810  2002-02-01      15.569
         Faisalabad              4811  2002-03-01      22.269
         Faisalabad              4812  2002-04-01      28.641
         Faisalabad              4813  2002-05-01      34.396
         Faisalabad              4814  2002-06-01      34.613
...                               ...         ...         ...
Russia   Saint Petersburg       13335  2011-04-01       4.146
         Saint Petersburg       13336  2011-05-01       9.442
         Saint Petersburg       13337  2011-06-01      15.823
         Saint Petersburg       13338  2011-07-01      20.389
         Saint Petersburg       13339  2011-08-01      16.426
         Saint Petersburg       13340  2011-09-01      12.704
         Saint Petersburg       13341  2011-10-01       7.691
         Saint Petersburg       13342  2011-11-01       4.454
         Saint Petersburg       13343  2011-12-01       2.647
         Saint Petersburg       13344  2012-01-01      -5.211
         Saint Petersburg       13345  2012-02-01     -10.957
         Saint Petersburg       13346  2012-03-01      -1.624
         Saint Petersburg       13347  2012-04-01       2.877
         Saint Petersburg       13348  2012-05-01      10.349
         Saint Petersburg       13349  2012-06-01      12.955
         Saint Petersburg       13350  2012-07-01      17.733
         Saint Petersburg       13351  2012-08-01      15.219
         Saint Petersburg       13352  2012-09-01      12.251
         Saint Petersburg       13353  2012-10-01       6.208
         Saint Petersburg       13354  2012-11-01       3.448
         Saint Petersburg       13355  2012-12-01      -7.316
         Saint Petersburg       13356  2013-01-01      -6.218
         Saint Petersburg       13357  2013-02-01      -3.228
         Saint Petersburg       13358  2013-03-01      -8.178
         Saint Petersburg       13359  2013-04-01       2.167
         Saint Petersburg       13360  2013-05-01      12.355
         Saint Petersburg       13361  2013-06-01      17.185
         Saint Petersburg       13362  2013-07-01      17.234
         Saint Petersburg       13363  2013-08-01      17.153
         Saint Petersburg       13364  2013-09-01         NaN

[1155 rows x 3 columns]
                    Unnamed: 0        date  avg_temp_c
country city
Mexico  Mexico           10230  2000-01-01      12.694
        Mexico           10231  2000-02-01      14.677
        Mexico           10232  2000-03-01      17.376
        Mexico           10233  2000-04-01      18.294
        Mexico           10234  2000-05-01      18.562
        Mexico           10235  2000-06-01      17.270
        Mexico           10236  2000-07-01      17.723
        Mexico           10237  2000-08-01      16.967
        Mexico           10238  2000-09-01      16.996
        Mexico           10239  2000-10-01      15.605
        Mexico           10240  2000-11-01      15.237
        Mexico           10241  2000-12-01      11.966
        Mexico           10242  2001-01-01      12.733
        Mexico           10243  2001-02-01      14.461
        Mexico           10244  2001-03-01      15.926
        Mexico           10245  2001-04-01      18.156
        Mexico           10246  2001-05-01      18.121
        Mexico           10247  2001-06-01      17.809
        Mexico           10248  2001-07-01      17.571
        Mexico           10249  2001-08-01      17.710
        Mexico           10250  2001-09-01      16.960
        Mexico           10251  2001-10-01      15.281
        Mexico           10252  2001-11-01      13.861
        Mexico           10253  2001-12-01      13.157
        Mexico           10254  2002-01-01      12.965
        Mexico           10255  2002-02-01      13.622
        Mexico           10256  2002-03-01      17.116
        Mexico           10257  2002-04-01      18.396
        Mexico           10258  2002-05-01      19.608
        Mexico           10259  2002-06-01      18.479
...                        ...         ...         ...
Morocco Casablanca        3105  2011-04-01      17.895
        Casablanca        3106  2011-05-01      21.258
        Casablanca        3107  2011-06-01      25.375
        Casablanca        3108  2011-07-01      26.377
        Casablanca        3109  2011-08-01      26.832
        Casablanca        3110  2011-09-01      24.017
        Casablanca        3111  2011-10-01      20.498
        Casablanca        3112  2011-11-01      14.384
        Casablanca        3113  2011-12-01      10.716
        Casablanca        3114  2012-01-01       9.267
        Casablanca        3115  2012-02-01       9.012
        Casablanca        3116  2012-03-01      15.032
        Casablanca        3117  2012-04-01      14.457
        Casablanca        3118  2012-05-01      21.708
        Casablanca        3119  2012-06-01      24.682
        Casablanca        3120  2012-07-01      28.219
        Casablanca        3121  2012-08-01      27.487
        Casablanca        3122  2012-09-01      23.689
        Casablanca        3123  2012-10-01      19.567
        Casablanca        3124  2012-11-01      14.821
        Casablanca        3125  2012-12-01      10.995
        Casablanca        3126  2013-01-01      10.686
        Casablanca        3127  2013-02-01      11.204
        Casablanca        3128  2013-03-01      14.071
        Casablanca        3129  2013-04-01      16.050
        Casablanca        3130  2013-05-01      19.217
        Casablanca        3131  2013-06-01      23.649
        Casablanca        3132  2013-07-01      27.488
        Casablanca        3133  2013-08-01      27.952
        Casablanca        3134  2013-09-01         NaN

[330 rows x 3 columns]
                 Unnamed: 0        date  avg_temp_c
country  city
Pakistan Lahore        8415  2000-01-01      12.792
         Lahore        8416  2000-02-01      14.339
         Lahore        8417  2000-03-01      20.309
         Lahore        8418  2000-04-01      29.072
         Lahore        8419  2000-05-01      34.845
         Lahore        8420  2000-06-01      34.299
         Lahore        8421  2000-07-01      32.302
         Lahore        8422  2000-08-01      32.255
         Lahore        8423  2000-09-01      30.438
         Lahore        8424  2000-10-01      27.395
         Lahore        8425  2000-11-01      20.640
         Lahore        8426  2000-12-01      15.195
         Lahore        8427  2001-01-01      11.853
         Lahore        8428  2001-02-01      16.701
         Lahore        8429  2001-03-01      21.885
         Lahore        8430  2001-04-01      26.814
         Lahore        8431  2001-05-01      33.924
         Lahore        8432  2001-06-01      32.882
         Lahore        8433  2001-07-01      32.091
         Lahore        8434  2001-08-01      32.562
         Lahore        8435  2001-09-01      30.615
         Lahore        8436  2001-10-01      27.015
         Lahore        8437  2001-11-01      20.501
         Lahore        8438  2001-12-01      15.306
         Lahore        8439  2002-01-01      12.844
         Lahore        8440  2002-02-01      15.569
         Lahore        8441  2002-03-01      22.269
         Lahore        8442  2002-04-01      28.641
         Lahore        8443  2002-05-01      34.396
         Lahore        8444  2002-06-01      34.613
...                     ...         ...         ...
Russia   Moscow       10860  2011-04-01       5.729
         Moscow       10861  2011-05-01      13.982
         Moscow       10862  2011-06-01      18.437
         Moscow       10863  2011-07-01      22.434
         Moscow       10864  2011-08-01      18.149
         Moscow       10865  2011-09-01      11.812
         Moscow       10866  2011-10-01       5.926
         Moscow       10867  2011-11-01      -0.344
         Moscow       10868  2011-12-01      -0.868
         Moscow       10869  2012-01-01      -7.713
         Moscow       10870  2012-02-01     -12.533
         Moscow       10871  2012-03-01      -3.467
         Moscow       10872  2012-04-01       7.247
         Moscow       10873  2012-05-01      14.592
         Moscow       10874  2012-06-01      16.333
         Moscow       10875  2012-07-01      20.001
         Moscow       10876  2012-08-01      17.395
         Moscow       10877  2012-09-01      12.509
         Moscow       10878  2012-10-01       6.061
         Moscow       10879  2012-11-01       1.076
         Moscow       10880  2012-12-01      -9.090
         Moscow       10881  2013-01-01      -9.230
         Moscow       10882  2013-02-01      -4.726
         Moscow       10883  2013-03-01      -7.497
         Moscow       10884  2013-04-01       5.353
         Moscow       10885  2013-05-01      16.152
         Moscow       10886  2013-06-01      18.718
         Moscow       10887  2013-07-01      18.136
         Moscow       10888  2013-08-01      17.485
         Moscow       10889  2013-09-01         NaN

[660 rows x 3 columns]

In [8]:
# 6. Slicing in both directions
# Subset rows from India, Hyderabad to Iraq, Baghdad
print(temperatures_srt.loc[("India","Hyderabad"):("Iraq", "Baghdad")])

# Subset columns from date to avg_temp_c
print(temperatures_srt.loc[:, "date":"avg_temp_c"])

# Subset in both directions at once
print(temperatures_srt.loc[("India","Hyderabad"):("Iraq", "Baghdad"), "date":"avg_temp_c"])

                   Unnamed: 0        date  avg_temp_c
country city
India   Hyderabad        5940  2000-01-01      23.779
        Hyderabad        5941  2000-02-01      25.826
        Hyderabad        5942  2000-03-01      28.821
        Hyderabad        5943  2000-04-01      32.698
        Hyderabad        5944  2000-05-01      32.438
        Hyderabad        5945  2000-06-01      28.422
        Hyderabad        5946  2000-07-01      27.137
        Hyderabad        5947  2000-08-01      26.576
        Hyderabad        5948  2000-09-01      27.433
        Hyderabad        5949  2000-10-01      26.927
        Hyderabad        5950  2000-11-01      24.776
        Hyderabad        5951  2000-12-01      21.949
        Hyderabad        5952  2001-01-01      23.406
        Hyderabad        5953  2001-02-01      26.677
        Hyderabad        5954  2001-03-01      29.393
        Hyderabad        5955  2001-04-01      31.289
        Hyderabad        5956  2001-05-01      34.030
        Hyderabad        5957  2001-06-01      29.432
        Hyderabad        5958  2001-07-01      28.309
        Hyderabad        5959  2001-08-01      26.670
        Hyderabad        5960  2001-09-01      27.698
        Hyderabad        5961  2001-10-01      25.955
        Hyderabad        5962  2001-11-01      25.182
        Hyderabad        5963  2001-12-01      22.621
        Hyderabad        5964  2002-01-01      23.253
        Hyderabad        5965  2002-02-01      25.942
        Hyderabad        5966  2002-03-01      29.713
        Hyderabad        5967  2002-04-01      32.571
        Hyderabad        5968  2002-05-01      33.501
        Hyderabad        5969  2002-06-01      29.717
...                       ...         ...         ...
Iraq    Baghdad          1125  2011-04-01      23.178
        Baghdad          1126  2011-05-01      29.493
        Baghdad          1127  2011-06-01      34.736
        Baghdad          1128  2011-07-01      37.184
        Baghdad          1129  2011-08-01      36.151
        Baghdad          1130  2011-09-01      32.055
        Baghdad          1131  2011-10-01      24.179
        Baghdad          1132  2011-11-01      14.241
        Baghdad          1133  2011-12-01      10.369
        Baghdad          1134  2012-01-01       9.664
        Baghdad          1135  2012-02-01      11.571
        Baghdad          1136  2012-03-01      15.376
        Baghdad          1137  2012-04-01      24.659
        Baghdad          1138  2012-05-01      30.878
        Baghdad          1139  2012-06-01      35.726
        Baghdad          1140  2012-07-01      37.371
        Baghdad          1141  2012-08-01      36.559
        Baghdad          1142  2012-09-01      32.574
        Baghdad          1143  2012-10-01      26.319
        Baghdad          1144  2012-11-01      18.590
        Baghdad          1145  2012-12-01      12.851
        Baghdad          1146  2013-01-01      11.518
        Baghdad          1147  2013-02-01      14.889
        Baghdad          1148  2013-03-01      17.636
        Baghdad          1149  2013-04-01      22.769
        Baghdad          1150  2013-05-01      28.673
        Baghdad          1151  2013-06-01      33.803
        Baghdad          1152  2013-07-01      36.392
        Baghdad          1153  2013-08-01      35.463
        Baghdad          1154  2013-09-01         NaN

[2145 rows x 3 columns]
                          date  avg_temp_c
country     city
Afghanistan Kabul   2000-01-01       3.326
            Kabul   2000-02-01       3.454
            Kabul   2000-03-01       9.612
            Kabul   2000-04-01      17.925
            Kabul   2000-05-01      24.658
            Kabul   2000-06-01      25.582
            Kabul   2000-07-01      26.107
            Kabul   2000-08-01      25.459
            Kabul   2000-09-01      22.116
            Kabul   2000-10-01      16.806
            Kabul   2000-11-01       9.720
            Kabul   2000-12-01       5.107
            Kabul   2001-01-01       2.208
            Kabul   2001-02-01       5.567
            Kabul   2001-03-01      10.807
            Kabul   2001-04-01      16.587
            Kabul   2001-05-01      23.782
            Kabul   2001-06-01      25.905
            Kabul   2001-07-01      26.065
            Kabul   2001-08-01      25.149
            Kabul   2001-09-01      21.178
            Kabul   2001-10-01      16.552
            Kabul   2001-11-01      10.731
            Kabul   2001-12-01       5.644
            Kabul   2002-01-01       3.432
            Kabul   2002-02-01       4.735
            Kabul   2002-03-01      11.382
            Kabul   2002-04-01      15.668
            Kabul   2002-05-01      21.992
            Kabul   2002-06-01      25.957
...                        ...         ...
Zimbabwe    Harare  2011-04-01      21.151
            Harare  2011-05-01      19.022
            Harare  2011-06-01      16.512
            Harare  2011-07-01      15.315
            Harare  2011-08-01      17.287
            Harare  2011-09-01      22.377
            Harare  2011-10-01      24.353
            Harare  2011-11-01      24.380
            Harare  2011-12-01      22.857
            Harare  2012-01-01      22.334
            Harare  2012-02-01      22.943
            Harare  2012-03-01      22.254
            Harare  2012-04-01      19.129
            Harare  2012-05-01      18.853
            Harare  2012-06-01      16.119
            Harare  2012-07-01      15.406
            Harare  2012-08-01      18.191
            Harare  2012-09-01      22.206
            Harare  2012-10-01      22.692
            Harare  2012-11-01      23.474
            Harare  2012-12-01      22.679
            Harare  2013-01-01      22.235
            Harare  2013-02-01      22.737
            Harare  2013-03-01      22.051
            Harare  2013-04-01      20.180
            Harare  2013-05-01      18.298
            Harare  2013-06-01      17.020
            Harare  2013-07-01      16.299
            Harare  2013-08-01      19.232
            Harare  2013-09-01         NaN

[16500 rows x 2 columns]
                         date  avg_temp_c
country city
India   Hyderabad  2000-01-01      23.779
        Hyderabad  2000-02-01      25.826
        Hyderabad  2000-03-01      28.821
        Hyderabad  2000-04-01      32.698
        Hyderabad  2000-05-01      32.438
        Hyderabad  2000-06-01      28.422
        Hyderabad  2000-07-01      27.137
        Hyderabad  2000-08-01      26.576
        Hyderabad  2000-09-01      27.433
        Hyderabad  2000-10-01      26.927
        Hyderabad  2000-11-01      24.776
        Hyderabad  2000-12-01      21.949
        Hyderabad  2001-01-01      23.406
        Hyderabad  2001-02-01      26.677
        Hyderabad  2001-03-01      29.393
        Hyderabad  2001-04-01      31.289
        Hyderabad  2001-05-01      34.030
        Hyderabad  2001-06-01      29.432
        Hyderabad  2001-07-01      28.309
        Hyderabad  2001-08-01      26.670
        Hyderabad  2001-09-01      27.698
        Hyderabad  2001-10-01      25.955
        Hyderabad  2001-11-01      25.182
        Hyderabad  2001-12-01      22.621
        Hyderabad  2002-01-01      23.253
        Hyderabad  2002-02-01      25.942
        Hyderabad  2002-03-01      29.713
        Hyderabad  2002-04-01      32.571
        Hyderabad  2002-05-01      33.501
        Hyderabad  2002-06-01      29.717
...                       ...         ...
Iraq    Baghdad    2011-04-01      23.178
        Baghdad    2011-05-01      29.493
        Baghdad    2011-06-01      34.736
        Baghdad    2011-07-01      37.184
        Baghdad    2011-08-01      36.151
        Baghdad    2011-09-01      32.055
        Baghdad    2011-10-01      24.179
        Baghdad    2011-11-01      14.241
        Baghdad    2011-12-01      10.369
        Baghdad    2012-01-01       9.664
        Baghdad    2012-02-01      11.571
        Baghdad    2012-03-01      15.376
        Baghdad    2012-04-01      24.659
        Baghdad    2012-05-01      30.878
        Baghdad    2012-06-01      35.726
        Baghdad    2012-07-01      37.371
        Baghdad    2012-08-01      36.559
        Baghdad    2012-09-01      32.574
        Baghdad    2012-10-01      26.319
        Baghdad    2012-11-01      18.590
        Baghdad    2012-12-01      12.851
        Baghdad    2013-01-01      11.518
        Baghdad    2013-02-01      14.889
        Baghdad    2013-03-01      17.636
        Baghdad    2013-04-01      22.769
        Baghdad    2013-05-01      28.673
        Baghdad    2013-06-01      33.803
        Baghdad    2013-07-01      36.392
        Baghdad    2013-08-01      35.463
        Baghdad    2013-09-01         NaN

[2145 rows x 2 columns]

In [9]:
# 7. Slicing time series
# Use Boolean conditions to subset temperatures for rows in 2010 and 2011
temperatures_bool = temperatures[(temperatures["date"] >= "2010") & (temperatures["date"] < "2012")]
print(temperatures_bool)

# Set date as an index and sort the index
temperatures_ind = temperatures.set_index("date").sort_index()

# Use .loc[] to subset temperatures_ind for rows in 2010 and 2011
print(temperatures_ind.loc["2010":"2011"])

# Use .loc[] to subset temperatures_ind for rows from Aug 2010 to Feb 2011
print(temperatures_ind.loc["2010-08":"2011-02"])

       Unnamed: 0        date         city        country  avg_temp_c
120           120  2010-01-01      Abidjan  Côte D'Ivoire      28.270
121           121  2010-02-01      Abidjan  Côte D'Ivoire      29.262
122           122  2010-03-01      Abidjan  Côte D'Ivoire      29.596
123           123  2010-04-01      Abidjan  Côte D'Ivoire      29.068
124           124  2010-05-01      Abidjan  Côte D'Ivoire      28.258
125           125  2010-06-01      Abidjan  Côte D'Ivoire      26.683
126           126  2010-07-01      Abidjan  Côte D'Ivoire      25.589
127           127  2010-08-01      Abidjan  Côte D'Ivoire      25.400
128           128  2010-09-01      Abidjan  Côte D'Ivoire      25.710
129           129  2010-10-01      Abidjan  Côte D'Ivoire      26.397
130           130  2010-11-01      Abidjan  Côte D'Ivoire      27.446
131           131  2010-12-01      Abidjan  Côte D'Ivoire      27.666
132           132  2011-01-01      Abidjan  Côte D'Ivoire      27.360
133           133  2011-02-01      Abidjan  Côte D'Ivoire      28.295
134           134  2011-03-01      Abidjan  Côte D'Ivoire      28.922
135           135  2011-04-01      Abidjan  Côte D'Ivoire      28.754
136           136  2011-05-01      Abidjan  Côte D'Ivoire      27.809
137           137  2011-06-01      Abidjan  Côte D'Ivoire      26.427
138           138  2011-07-01      Abidjan  Côte D'Ivoire      25.302
139           139  2011-08-01      Abidjan  Côte D'Ivoire      24.824
140           140  2011-09-01      Abidjan  Côte D'Ivoire      25.405
141           141  2011-10-01      Abidjan  Côte D'Ivoire      26.388
142           142  2011-11-01      Abidjan  Côte D'Ivoire      27.531
143           143  2011-12-01      Abidjan  Côte D'Ivoire      27.194
285           285  2010-01-01  Addis Abeba       Ethiopia      18.390
286           286  2010-02-01  Addis Abeba       Ethiopia      18.931
287           287  2010-03-01  Addis Abeba       Ethiopia      20.102
288           288  2010-04-01  Addis Abeba       Ethiopia      19.876
289           289  2010-05-01  Addis Abeba       Ethiopia      19.646
290           290  2010-06-01  Addis Abeba       Ethiopia      18.397
...           ...         ...          ...            ...         ...
16308       16308  2011-07-01        Wuhan          China      29.765
16309       16309  2011-08-01        Wuhan          China      28.297
16310       16310  2011-09-01        Wuhan          China      23.784
16311       16311  2011-10-01        Wuhan          China      18.326
16312       16312  2011-11-01        Wuhan          China      15.259
16313       16313  2011-12-01        Wuhan          China       5.811
16455       16455  2010-01-01         Xian          China      -0.237
16456       16456  2010-02-01         Xian          China       2.581
16457       16457  2010-03-01         Xian          China       6.969
16458       16458  2010-04-01         Xian          China      11.377
16459       16459  2010-05-01         Xian          China      18.365
16460       16460  2010-06-01         Xian          China      23.357
16461       16461  2010-07-01         Xian          China      25.722
16462       16462  2010-08-01         Xian          China      23.434
16463       16463  2010-09-01         Xian          China      19.630
16464       16464  2010-10-01         Xian          China      12.292
16465       16465  2010-11-01         Xian          China       6.742
16466       16466  2010-12-01         Xian          China       0.845
16467       16467  2011-01-01         Xian          China      -4.811
16468       16468  2011-02-01         Xian          China       2.430
16469       16469  2011-03-01         Xian          China       5.924
16470       16470  2011-04-01         Xian          China      14.876
16471       16471  2011-05-01         Xian          China      18.225
16472       16472  2011-06-01         Xian          China      23.879
16473       16473  2011-07-01         Xian          China      24.895
16474       16474  2011-08-01         Xian          China      23.069
16475       16475  2011-09-01         Xian          China      16.775
16476       16476  2011-10-01         Xian          China      12.587
16477       16477  2011-11-01         Xian          China       7.543
16478       16478  2011-12-01         Xian          China      -0.490

[2400 rows x 5 columns]
            Unnamed: 0            city       country  avg_temp_c
date
2010-01-01        4905      Faisalabad      Pakistan      11.810
2010-01-01       10185       Melbourne     Australia      20.016
2010-01-01        3750       Chongqing         China       7.921
2010-01-01       13155       São Paulo        Brazil      23.738
2010-01-01        5400       Guangzhou         China      14.136
2010-01-01        8370           Lagos       Nigeria      27.830
2010-01-01        4410           Delhi         India      14.014
2010-01-01        8865            Lima          Peru      20.450
2010-01-01       10020         Mashhad          Iran       4.746
2010-01-01        3915           Dakar       Senegal      23.188
2010-01-01        4575           Dhaka    Bangladesh      17.354
2010-01-01        1605  Belo Horizonte        Brazil      24.349
2010-01-01        2265        Brasília        Brazil      23.417
2010-01-01       10515       Mogadishu       Somalia      27.520
2010-01-01        1770          Berlin       Germany      -4.702
2010-01-01        2595        Calcutta         India      17.503
2010-01-01        8040            Kiev       Ukraine      -9.968
2010-01-01       10845          Moscow        Russia     -15.846
2010-01-01       10350          Mexico        Mexico      11.607
2010-01-01        2430           Cairo         Egypt      15.835
2010-01-01       14805           Surat         India      21.461
2010-01-01        2100          Bombay         India      26.120
2010-01-01        4245   Dar Es Salaam      Tanzania      28.256
2010-01-01       12825          Riyadh  Saudi Arabia      16.055
2010-01-01       10680        Montreal        Canada      -7.611
2010-01-01        9690          Madrid         Spain       3.443
2010-01-01        8700         Lakhnau         India      13.147
2010-01-01        4080          Dalian         China      -5.459
2010-01-01       13980           Seoul   South Korea      -4.935
2010-01-01        6390        Istanbul        Turkey       6.212
...                ...             ...           ...         ...
2010-12-01       10691        Montreal        Canada      -6.906
2010-12-01       10361          Mexico        Mexico      11.375
2010-12-01        2771            Cali      Colombia      21.238
2010-12-01        6071       Hyderabad         India      22.234
2010-12-01       15971         Toronto        Canada      -5.594
2010-12-01       14651        Surabaya     Indonesia      26.735
2010-12-01        8546          Lahore      Pakistan      13.539
2010-12-01       15806           Tokyo         Japan       5.719
2010-12-01        1781          Berlin       Germany      -4.412
2010-12-01       12176          Peking         China      -1.778
2010-12-01        3431         Chengdu         China       1.550
2010-12-01       12341            Pune         India      20.091
2010-12-01        9701          Madrid         Spain       4.022
2010-12-01       11351         Nairobi         Kenya      17.069
2010-12-01         956          Ankara        Turkey       4.582
2010-12-01        3101      Casablanca       Morocco      13.236
2010-12-01        1286       Bangalore         India      22.719
2010-12-01        9371          Luanda        Angola      24.044
2010-12-01       16466            Xian         China       0.845
2010-12-01       11681       New Delhi         India      15.393
2010-12-01        6731          Jaipur         India      16.214
2010-12-01        5081       Fortaleza        Brazil      28.277
2010-12-01         296     Addis Abeba      Ethiopia      17.080
2010-12-01       14321        Shenyang         China      -8.517
2010-12-01        3761       Chongqing         China       7.941
2010-12-01        6896         Jakarta     Indonesia      26.602
2010-12-01        5246           Gizeh         Egypt      16.530
2010-12-01       11186          Nagpur         India      19.120
2010-12-01       14981          Sydney     Australia      19.559
2010-12-01       13496        Salvador        Brazil      26.265

[1200 rows x 4 columns]
            Unnamed: 0              city        country  avg_temp_c
date
2010-08-01        2602          Calcutta          India      30.226
2010-08-01       12337              Pune          India      24.941
2010-08-01        6562             Izmir         Turkey      28.352
2010-08-01       15637           Tianjin          China      25.543
2010-08-01        9862            Manila    Philippines      27.101
2010-08-01       14977            Sydney      Australia      14.817
2010-08-01        8542            Lahore       Pakistan      31.180
2010-08-01        9367            Luanda         Angola      21.680
2010-08-01       12997              Rome          Italy      22.289
2010-08-01        1777            Berlin        Germany      18.692
2010-08-01         952            Ankara         Turkey      26.044
2010-08-01         292       Addis Abeba       Ethiopia      17.037
2010-08-01       16297             Wuhan          China      29.582
2010-08-01        7882           Karachi       Pakistan      30.043
2010-08-01        3262         Changchun          China      22.173
2010-08-01        7057            Jiddah   Saudi Arabia      34.133
2010-08-01       14317          Shenyang          China      23.230
2010-08-01       10357            Mexico         Mexico      17.996
2010-08-01        9697            Madrid          Spain      22.934
2010-08-01        4087            Dalian          China      23.929
2010-08-01        3427           Chengdu          China      19.915
2010-08-01        2272          Brasília         Brazil      21.876
2010-08-01       16132        Umm Durman          Sudan      30.628
2010-08-01       10522         Mogadishu        Somalia      26.784
2010-08-01       14812             Surat          India      27.870
2010-08-01        6892           Jakarta      Indonesia      27.093
2010-08-01        2932         Cape Town   South Africa      13.461
2010-08-01        9202       Los Angeles  United States      23.545
2010-08-01        3922             Dakar        Senegal      29.053
2010-08-01       13657          Santiago          Chile       0.320
...                ...               ...            ...         ...
2011-01-01       11187            Nagpur          India      18.337
2011-01-01        6897           Jakarta      Indonesia      26.558
2011-01-01        3267         Changchun          China     -19.623
2011-01-01         132           Abidjan  Côte D'Ivoire      27.360
2011-01-01       15477          Tangshan          China      -5.277
2011-01-01       12837            Riyadh   Saudi Arabia      16.124
2011-01-01       16137        Umm Durman          Sudan      22.254
2011-01-01        6567             Izmir         Turkey      10.652
2011-01-01        6237            Ibadan        Nigeria      27.290
2011-01-01       13002              Rome          Italy       3.928
2011-01-01        9702            Madrid          Spain       4.232
2011-01-01       16302             Wuhan          China       1.496
2011-01-01        3432           Chengdu          China      -1.447
2011-01-01        4092            Dalian          China      -6.268
2011-01-01        2442             Cairo          Egypt      14.397
2011-01-01        6402          Istanbul         Turkey       5.689
2011-01-01        6732            Jaipur          India      14.783
2011-01-01       15807             Tokyo          Japan       0.817
2011-01-01       11682         New Delhi          India      13.376
2011-01-01       15972           Toronto         Canada      -9.348
2011-01-01        5907  Ho Chi Minh City        Vietnam      25.985
2011-01-01       15642           Tianjin          China      -5.667
2011-01-01       13167         São Paulo         Brazil      23.878
2011-01-01         627            Aleppo          Syria       6.789
2011-01-01        2277          Brasília         Brazil      22.892
2011-01-01        4257     Dar Es Salaam       Tanzania      28.541
2011-01-01       11352           Nairobi          Kenya      17.768
2011-01-01         297       Addis Abeba       Ethiopia      17.708
2011-01-01       11517           Nanjing          China       0.144
2011-01-01       11847          New York  United States      -4.463

[600 rows x 4 columns]

In [10]:
# 8. Subsetting by row/column number
# Use .iloc[] on temperatures to take subsets.

# Get the 23rd row, 2nd column (index positions 22 and 1).
# Get the first 5 rows (index positions 0 to 5).
# Get all rows, columns 3 and 4 (index positions 2 to 4).
# Get the first 5 rows, columns 3 and 4.
# Get 23rd row, 2nd column (index 22, 1)
print(temperatures.iloc[22,1])

# Use slicing to get the first 5 rows
print(temperatures.iloc[0:6])

# Use slicing to get columns 3 to 4
print(temperatures.iloc[:, 2:4])

# Use slicing in both directions at once
print(temperatures.iloc[0:5, 2:4])

2001-11-01
   Unnamed: 0        date     city        country  avg_temp_c
0           0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1           1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2           2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3           3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4           4  2000-05-01  Abidjan  Côte D'Ivoire      27.547
5           5  2000-06-01  Abidjan  Côte D'Ivoire      25.812
          city        country
0      Abidjan  Côte D'Ivoire
1      Abidjan  Côte D'Ivoire
2      Abidjan  Côte D'Ivoire
3      Abidjan  Côte D'Ivoire
4      Abidjan  Côte D'Ivoire
5      Abidjan  Côte D'Ivoire
6      Abidjan  Côte D'Ivoire
7      Abidjan  Côte D'Ivoire
8      Abidjan  Côte D'Ivoire
9      Abidjan  Côte D'Ivoire
10     Abidjan  Côte D'Ivoire
11     Abidjan  Côte D'Ivoire
12     Abidjan  Côte D'Ivoire
13     Abidjan  Côte D'Ivoire
14     Abidjan  Côte D'Ivoire
15     Abidjan  Côte D'Ivoire
16     Abidjan  Côte D'Ivoire
17     Abidjan  Côte D'Ivoire
18     Abidjan  Côte D'Ivoire
19     Abidjan  Côte D'Ivoire
20     Abidjan  Côte D'Ivoire
21     Abidjan  Côte D'Ivoire
22     Abidjan  Côte D'Ivoire
23     Abidjan  Côte D'Ivoire
24     Abidjan  Côte D'Ivoire
25     Abidjan  Côte D'Ivoire
26     Abidjan  Côte D'Ivoire
27     Abidjan  Côte D'Ivoire
28     Abidjan  Côte D'Ivoire
29     Abidjan  Côte D'Ivoire
...        ...            ...
16470     Xian          China
16471     Xian          China
16472     Xian          China
16473     Xian          China
16474     Xian          China
16475     Xian          China
16476     Xian          China
16477     Xian          China
16478     Xian          China
16479     Xian          China
16480     Xian          China
16481     Xian          China
16482     Xian          China
16483     Xian          China
16484     Xian          China
16485     Xian          China
16486     Xian          China
16487     Xian          China
16488     Xian          China
16489     Xian          China
16490     Xian          China
16491     Xian          China
16492     Xian          China
16493     Xian          China
16494     Xian          China
16495     Xian          China
16496     Xian          China
16497     Xian          China
16498     Xian          China
16499     Xian          China

[16500 rows x 2 columns]
      city        country
0  Abidjan  Côte D'Ivoire
1  Abidjan  Côte D'Ivoire
2  Abidjan  Côte D'Ivoire
3  Abidjan  Côte D'Ivoire
4  Abidjan  Côte D'Ivoire

In [12]:
# 9. Pivot temperature by city and year
# You can access the components of a date (year, month and day) using code of the form dataframe["column"].dt.component
# Add a year column to temperatures
temperatures["year"] = temperatures["date"].dt.year

# Pivot avg_temp_c by country and city vs year
temp_by_country_city_vs_year = temperatures.pivot_table("avg_temp_c", index=["country", "city"], columns="year")

# See the result
print(temp_by_country_city_vs_year)

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
# 10. Subsetting pivot tables
# Subset for Egypt to India
temp_by_country_city_vs_year.loc["Egypt":"India"]

# Subset for Egypt, Cairo to India, Delhi
temp_by_country_city_vs_year.loc[("Egypt", "Cairo"): ("India", "Delhi")]

# Subset in both directions at once
temp_by_country_city_vs_year.loc[("Egypt", "Cairo"): ("India", "Delhi"), "2005":"2010"]

In [ ]:
# 11. Calculating on a pivot table
# Get the worldwide mean temp by year
mean_temp_by_year = temp_by_country_city_vs_year.mean()

# Filter for the year that had the highest mean temp
print(mean_temp_by_year[mean_temp_by_year == mean_temp_by_year.max()])

# Get the mean temp by city  for each city (across columns)
mean_temp_by_city = temp_by_country_city_vs_year.mean(axis="columns")

# Filter for the city that had the lowest mean temp
print(mean_temp_by_city[mean_temp_by_city == mean_temp_by_city.min()])